[submodule "Git_Repos/gitops-register-app"]
	path = Git_Repos/gitops-register-app
	url = https://github.com/vishalsharmat15-beep/gitops-register-app.git

[submodule "Git_Repos/register-app"]
	path = Git_Repos/register-app
	url = https://github.com/vishalsharmat15-beep/register-app.git